# Core data science libraries
numpy
pandas
matplotlib==3.10.0
seaborn
plotly
altair
hvplot
bokeh
scikit-learn
imbalanced-learn
scipy
statsmodels

# Jupyter ecosystem
jupyterlab
notebook
ipywidgets

# Code quality / formatting
black
autopep8
flake8

# Additional utilities
adjustText
anyio
beautifulsoup4
requests
markdown-it-py
jsonpointer==2.1
